.navigation {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
    &__title {
      //
      flex-grow: 1;
      margin: 0 auto;
      font-size: 36px;
      letter-spacing: 3.6px;
    }
    &__search {
      //
      display: flex;
      margin: 25px auto;
    }
    &__filter,
    &__sort {
      display: flex;
      flex-direction: column;
    }
    &__sort {
      margin-left: 30px;
    }
  }
  label {
    //
    font-size: 0.75em;
    color: #666;
    text-transform: uppercase;
    font-weight: 700;
  }
  select {
    width: 100px;
    color: #333;
    font-weight: 600;
    border: 0;
    background-color: #f7f7f7;
    margin-top: 10px;
    margin-left: -5px;
  }
  
  @media (min-width: 600px) {
    .navigation {
      flex-direction: row;
      &__title {
        margin-left: 20px;
      }
      &__search {
        margin: 0;
      }
    }
  }