.products {
    //
    display: flex;
    flex-wrap: wrap;
  }
  .product {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 50%;
    background-color: #fff;
    border: 0.5px solid #f7f7f7;
    &__img img {
      width: 100%;
      padding: 50px 10px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      //     padding: 10px 12.5px 20px;
      //   }
      //   &__name {
      //     margin: 0;
      //     margin-bottom: 5px;
      //     font-weight: 700;
      //     color: #030303;
      //   }
      //   &__price {
      //       font-size: .875em;
      //       color: #666;
      //       margin: 0;
      //   }
    }
    &__name {
      margin: 0px;
    }
    &__price {
      margin: 0;
      font-size: 0.875em;
      font-weight: 400;
      color: #666;
    }
    &__sale {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #006eff;
      color: #fff;
      padding: 4px 10px;
      font-size: 0.75em;
      letter-spacing: 0.6px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  @media (min-width: 600px) {
    .product {
      flex: 0 25%;
    }
  }
  @media (min-width: 1200px) {
    .product {
      flex: 0 20%;
    }
  }